name: ci-cd

on:
  push:

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: login-to-docker-hub
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: set-up-docker-buildx
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: docker/setup-buildx-action@v1
      - name: get-short-sha 
        if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          id=$(echo ${{github.sha}} | cut -b-7)
          echo "::set-output name=sha::sha-$id"
        id: get-short-sha-id
      - name: build-and-push-docker-image
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: docker/build-push-action@v2
        with:
          push: true
          file: docker/Dockerfile
          context: build/libs
          tags: |
            hasnii/spark:latest
            hasnii/spark:${{steps.get-short-sha-id.outputs.sha}}
      - name: change image tag in config
        run: |
            yq -i '.spec.image = "hasnii/spark:${{steps.get-short-sha-id.outputs.sha}}"' config/spark.yaml
      - name: set-k8s-context
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: azure/k8s-set-context@v1
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBE_CONFIG }}
      - name: rollup-update-k8s
        if: ${{ github.ref == 'refs/heads/main' }}
        run: kubectl set image deployment/stream-server-deployment conway-life-stream-server=fedormalyshkin/conway-life-stream-server:${{steps.get-short-sha-id.outputs.sha}}
